html
  head
    link(rel="stylesheet" href="/css/styles.css")
  body
    div
      header Welcome to Stack Education
    div
         h2 Faculty
          table
            tr
              th Name
              th Department
            for f in faculty
              tr
                td= f.name
                if f.departmentID == 1
                  td Compute Science & Engineering
                else
                  td Electrical Engineering
              
              