html
  head
    link(rel="stylesheet" href="/css/styles.css")
  body
    div
      header Welcome to Stack Education
    div(class ="left-sidebar")
      a(href="#" class="leftbar-items") Departments
      a(href=`/faculty` class="leftbar-items") Faculty
      a(href=`/students` class="leftbar-items") Students