html
  head
    link(rel="stylesheet" href="/css/styles.css")
  body
    div
      header 
       h1 Welcome to Stack University
      div
        div(class ="left-sidebar")
          a(href="#" class="leftbar-items") Departments
          a(href=`/faculty` class="leftbar-items") Faculty
          a(href=`/students` class="leftbar-items") Students
        div(class ="rightbar")
          p Stack university is designed to advance human knowledge, educate leaders and cultivate an informed 
            |citizenry.It pushes the boundaries of what’s possible – always in the name of the greater good. One of 
            |the things that makes this possible is an unswerving commitment to initiatives that grow, strengthen and shape 
            |our institution for the future. Stack partners with institutions to help launch new strategic 
            | programs, partner more closely with local companies, and establish themselves as leaders in the 
            |innovation economy.Stack provides a world-class education to talented students who meet our rigorous standards.  