body {
  margin:0;
}
header h1{
  text-align: center;
}
.left-sidebar {
  width:150px;
  position: absolute;
  height:100%;
  position:fixed!important;
  display: block;
  background-color: cadetblue;
  border:0;
}

.leftbar-items {
  padding:20px;
  width:25%;
  float:left;
  width:auto;
  border:none;
  display:block;
  outline:0;
 
}
h2 {
  text-align: center;
}
.rightbar {
  float: right;
  display: block;

  margin-left:225px;
}
table {
  border-collapse: collapse;
  margin: auto;
  width:80%;
}
table tr td {
  border: 2px solid black;
  padding: 5px;
}
table th {
  background-color: rgb(80, 164, 248);
  padding:5px;
  text-align: center;
  color: white;
  border:2px solid black
}

